.rowfoda{
    color:#0062E2;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

}
hr{
    border-color:#aaa;
    box-sizing:border-box;
    width:100%;  
  } 
  body {
    background: black;
  }
  header {
    border-bottom: solid 100px (rgb(54, 49, 58)) (172, 172, 172);
    padding: -10px;
    font-size: 10px;
    color: rgb(42, 122, 228);
  }
  
